<div class="mobileText">
Upcoming Matches
</div>
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="./images/Astralis.png">vs Astralis - 4/1/17</a>
    <a class="carousel-item" href="#two!"><img src="./images/Navi.png">vs Navi - 5/1/17</a>
    <a class="carousel-item" href="#three!"><img src="./images/Nip.png">vs NiP - 6/1/17</a>
    <a class="carousel-item" href="#four!"><img src="./images/Virtus.png">vs Virtus - 7/1/17</a>
    <a class="carousel-item" href="#five!"><img src="./images/Liquid.png">vs Liquid - 8/1/17</a>
  </div>
